<h2 class="page-title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="d-flex flex-column justify-content-center align-items-center">

    <div class="form-group mb-3 w-50">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mb-3 d-flex align-items-center justify-content-center">
      <%= f.submit "Send me reset password instructions", class:"btn btn-lg btn-primary rounded-pill" %>
    </div>

    <%= render "devise/shared/links" %>
  </div>

<% end %>

